#hbx-header {
    border-bottom-width: 1px;
    height: 60px;
    text-transform: uppercase;
    transition: background .3s ease-out;
    z-index: 20
}

#hbx-header {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    border-color: #000;
    color: rgba(0,0,0,var(--tw-text-opacity))
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: 100%
}

#journal-container {
    --journal-standard-space-holder: 725px;
    visibility: visible
}

#journal-container .aspect-ratio-3x2 {
    aspect-ratio: 3/2
}

#journal-container .journal-filter .filter-header {
    height: 55px
}

#journal-container .journal-filter .filter-content {
    padding-top: 55px
}

@media (min-width: 768px) {
    #journal-container .journal-filter .filter-content {
        padding-top:0
    }
}

#journal-container .journal-filter details:first-child {
    border-top-width: 1px
}

#journal-container img {
    border-color: var(--border-color);
    border-style: solid;
    border-width: 1px
}

@media (min-width: 768px) {
    #journal-container .journal-filter {
        top:85px;
        width: 240px
    }
}

#journal-container details>summary {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-dense);
    padding-bottom: 20px
}

#journal-container details>summary:after {
    top: 23px
}

#journal-container #feature-banner {
    margin-bottom: 30px;
    position: relative
}

#journal-container #feature-banner .post-summary {
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    bottom: -1px;
    left: 0;
    margin-right: 15px;
    padding: 15px 15px 0;
    position: absolute;
    right: auto
}

@media (min-width: 768px) {
    #journal-container #feature-banner .post-summary {
        margin:0;
        padding: 0;
        position: relative;
        width: 100%
    }
}

@media (min-width: 1024px) {
    #journal-container #feature-banner .post-summary {
        left:auto;
        margin-left: 5px;
        padding-left: 25px;
        padding-top: 20px;
        position: absolute;
        right: 0;
        width: 50%
    }
}

#journal-container #feature-banner img {
    border-width: 0;
    min-height: min(80vh,562px);
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

@media (min-width: 768px) {
    #journal-container #feature-banner img {
        border:1px solid #eee;
        min-height: auto
    }
}

@media (min-width: 1024px) {
    #journal-container #feature-banner img {
        width:calc(100% - 215px)
    }
}

#journal-container .post-excerpt {
    font-size: var(--font-size-base);
    line-height: var(--line-height-dense);
    overflow: hidden
}

@media (min-width: 768px) {
    #journal-container .post-excerpt {
        font-size:var(--font-size-lg)
    }
}

#journal-container .post-excerpt {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    padding-bottom: .12em
}

#journal-container .social-button svg.icon-base {
    height: 18px;
    width: 18px
}

@media (min-width: 768px) {
    #journal-container #journal-list a:first-of-type>.grid {
        margin-bottom:30px;
        margin-top: 0
    }
}

#journal-container #journal-sidebar #app-section img {
    border-width: 0
}

@media (min-width: 768px) {
    #journal-container #journal-sidebar,#journal-container #journal-sidebar~#article-part,#journal-container #journal-sidebar~hr {
        max-width:var(--journal-standard-space-holder)
    }
}

@media (min-width: 1280px) {
    #journal-container #journal-sidebar {
        max-width:100%;
        width: 300px
    }

    #journal-container #journal-sidebar~#article-part {
        max-width: 100%;
        width: calc(100% - 330px)
    }
}

#journal-container .post-tags a:not(:last-child):after {
    content: ", "
}

@media (min-width: 1280px) {
    #journal-container #article-section {
        width:100%
    }
}

#journal-container.full-width-journal #article-part {
    max-width: 100%
}

@media (min-width: 1024px) {
    #journal-container.full-width-journal #article-part {
        max-width:670px
    }
}

#journal-container.full-width-journal #article-body~* .social-button>span:first-child {
    display: none
}

#journal-container.full-width-journal #article-body~* .social-button [aria-label="Copy Link"] {
    margin-left: 0;
    margin-right: 0
}

#journal-container.full-width-journal .post-row-item h4 {
    font-size: var(--font-size-2xl)
}

@media (min-width: 768px) {
    #journal-container #article-list,#journal-container .journal-filter~#article-section {
        max-width:calc(100% - 240px)
    }
}

@media (min-width: 1024px) {
    #journal-container #journal-list>a>div .col:last-child {
        padding-left:25px
    }
}

#hbx-header svg {
    margin: 17px 0;
    transition: margin .3s ease-out;
}

.paginator-button:hover {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgba(0,0,0,var(--tw-bg-opacity));
    color: rgba(255,255,255,var(--tw-text-opacity));
    opacity: 1;
}

.paginator-button {
    margin: 0 5px;
    padding: 8px 13px 10px;
}