---
import BaseHead from "../components/BaseHead.astro";
// import Header from '../components/Header.astro';
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
export const prerender = false;
import Header from "../components/common/Header.vue";
import Header1 from "../components/common/Header.astro";
import MainLayout from "../layouts/main.astro";
import { Icon } from "astro-icon";
import 'swiper/css';
import "../styles/main.css";
import "../styles/global.css";
const state = {
	showTopBanner: true
}
// const post = await fetch("http://127.0.0.1:8000/api/v1/header/menus")
// const {data} = await post.json()
// console.log(data)
const tStageBrand = [
	"Mancandy",
	"Valentino",
	"Hatra",
	"Carla Fernandez",
	"Xander Zhou",
	"C+Plus Series",
	"Kiss the Future",
	"Tanja Uvera",
	"Todd Snyder",
];

const hotBrand = [
	{
		name: "Louis Vuitton",
		area: 'Paris',
		images: [
			'https://imgf1.pop-fashion.com/styles/2023/1020/F_399_20231020104213/man/2324AW/159/outerwear/jacket/19/middle/91afadca-a21d-4273-8d7e-cf9f862af827.JPG',
			'https://imgf1.pop-fashion.com/styles/2023/1020/202310200000210691/women/2324AW/7/outerwear/jacket/202310200023193581/middle/9756f271-6bbd-4d5a-9a53-66728bb0373a.JPG'
		]
	},
	{ name: "BOSS", area: 'Paris', images:[]},
	{ name: "Moncler", area: 'USA', images:[]},
	{ name: "PRADA", area: 'Paris', images:[]},
	{ name: "GUCCI", area: 'China', images:[]},
	{ name: "MIU MIU", area: 'UK', images:[]},
	{ name: "FENDI", area: 'Paris', images:[]},
	{ name: "Emporio Armani", area: 'Canada', images:[]},
	{ name: "Loro Piana", area: 'Paris', images:[]},
	{ name: 'AI.design', area: 'Itaily', images:[]}
];
---

<style>
	    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }

	
	.grid-halves {
		width: 100%;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		border-bottom: 2px solid #000;
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr;
		grid-auto-columns: 1fr;
		display: grid;
	}

	.earned-income-number {
		font-size: 11.25rem;
	}

	.text-lg {
		letter-spacing: -0.01em;
		font-size: 2rem;
		line-height: 1.25;
	}

	.selection-box {
		grid-template-columns: 3fr 1.5fr;
	}

	.show-wrap .box-left {
		-webkit-box-flex: 1;
		-webkit-flex: auto;
		-moz-box-flex: 1;
		-ms-flex: auto;
		flex: auto;
		position: relative;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		/* padding-left:12.61167%; */
	}

	.show-wrap .box-left .show-img {
		width: 100%;
		padding-top: 50%;
		position: relative;
	}

	.show-wrap .box-left .data-list {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		/* opacity: 0; */
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.show-wrap .box-left .show-title {
		position: absolute;
		top: 32px;
		left: 32px;
	}

	.inner {
		--innerWidth: 1920px;
		width: 100%;
		max-width: var(--innerWidth);
		margin: 0 auto;
		padding: 0 var(--pad-inner);
	}

	.inner--sm {
		--innerWidth: 931px;
	}

	.inner--lg {
		--innerWidth: 1216px;
	}

	.inner--xl {
		--innerWidth: 1386px;
	}

	.inner--xxl {
		--innerWidth: 1650px;
	}

	.inner--xxxl {
		--innerWidth: 1834px;
	}

	.swiper {
		overflow: hidden;
	}

	#content {
		flex: 1;
	}

	.block {
		margin-top: clamp(20px, 3vw, 50px);
		margin-bottom: clamp(50px, 20vw, 200px);
	}

	.block--mb-s {
		margin-bottom: clamp(50px, 20vw, 100px);
	}

	.block--private {
		position: relative;
		display: flex;
		align-items: center;
		min-height: calc(100vh - 71px);
		margin: 0;
		padding: clamp(50px, 20vw, 100px) 0;
		background: rgba(0, 0, 0, 0.7);
	}

	.block--private .c-heading,
	.block--private .c-view-all {
		color: #fff;
	}

	.block--private .bg-private {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		-o-object-fit: contain;
		object-fit: contain;
	}

	.block[class*="--bg"] {
		margin: clamp(50px, 20vw, 200px) 0;
		padding: 100px 0;
	}

	.block[class*="--gray"] {
		background: var(--bg-3rd);
	}

	.l-list-sites {
		display: flex;
		flex-wrap: wrap;
		gap: clamp(30px, 3vw, 94px);
	}

	.l-list-sites__col {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-width: min(380px, 100%);
	}

	.l-list-sites__col.s-2 .list-sites {
		margin-top: 24px;
	}

	.l-list-sites__col.s-2 .list-sites__item {
		padding: 0;
	}

	.l-list-sites__col.s-2 .list-sites__card {
		flex-direction: column;
		gap: 0;
	}

	.l-list-sites__col.s-2 .list-sites__left {
		flex-direction: column;
		gap: 0;
	}

	.l-list-sites__col.s-2 .list-sites__figure {
		position: relative;
		width: 100%;
	}

	.l-list-sites__col.s-2 .list-sites__media {
		width: 100%;
		border-radius: var(--rounded-normal);
	}

	.l-list-sites__col.s-2 .list-sites__info {
		width: 100%;
		min-height: 120px;
	}

	.l-list-sites__heading {
		padding-bottom: 24px;
		font-size: var(--text-size-primary);
	}

	.l-list-sites__more {
		margin-top: clamp(20px, 3vw, 44px);
	}

	.l-list-sites .list-sites {
		flex: 1;
	}

	.list-sites--bw {
		height: 100%;
		background: #fff;
		border-radius: var(--rounded-normal);
	}

	.list-sites--collapsed-nom {
		height: calc(162px + clamp(10px, 4vw, 48px));
		overflow: hidden;
	}

	.list-sites__item {
		padding: clamp(10px, 4vw, 15px) clamp(0px, 1vw, 24px);
	}

	.list-sites__item:not(:last-child) {
		border-bottom: 1px solid var(--border-gray);
	}

	.list-sites__item:has(.list-sites__more) {
		padding: 0;
	}

	.list-sites__card {
		display: flex;
		align-items: center;
		gap: clamp(10px, 4vw, 20px);
	}

	.list-sites__left {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: clamp(10px, 4vw, 20px);
		flex: 1;
		min-width: 0;
	}

	.list-sites__right {
		display: flex;
		flex-direction: column;
		gap: 4px;
		justify-content: center;
	}

	.list-sites__figure {
		flex-shrink: 0;
	}

	.list-sites__media {
		border-radius: 50%;
		-o-object-fit: cover;
		object-fit: cover;
		width: clamp(40px, 4vw, 72px);
		height: auto;
		transition: all 0.3s;
	}

	.list-sites__media:hover {
		filter: brightness(80%);
	}

	.list-sites__thumb {
		border-radius: var(--rounded-small);
	}

	.list-sites__label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.list-sites__title {
		font-size: 18px;
		font-size: clamp(18px, 17.2957746479px + 0.1408450704vw, 20px);
		font-weight: bold;
		line-height: 120%;
	}

	.list-sites__title--truncate {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.list-sites__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1;
		min-width: 0;
	}

	.list-sites__number {
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: 100%;
		min-width: 43px;
	}

	.list-sites__number small {
		font-size: 10px;
	}

	.list-sites__more {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 60px;
		font-size: 6px;
		letter-spacing: 2px;
		transition: all 0.3s;
	}

	.list-sites__more:hover {
		letter-spacing: 4px;
	}

	.text-item:hover svg{
		display: block;
	}

	.text-item:hover span{
		color: #fff;
		text-decoration:underline;
	}
	
</style>
<MainLayout>
	<div
		class="selection-box show-wrap grid rounded-2xl bg-slate-950 text-white"
	>
		<div class="box-left flex">
			<div class="show-title">
				<div class="main-title">
					<div class="sub-title text-2xl font-bold">
						RUNWAY GALLERY
					</div>
				</div>
				<div class="sub-title text-2xl font-bold">当下秀场</div>
			</div>
			<div class="show-img">
				<div class="data-list">
					<div
						class=""
						style="height:0px;position:relative;padding-top:50%;"
					>
						<a
							href="/detail/listDetail?channel=20850&subject_id=0&folder_id=152151&mode=2&data_type=1&p=1"
							target="_blank"
							class="img-list flex"
							style="height: 100%;
							width: 100%;
							position: absolute;
							top: 0px;
							left: 0px;"
						>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1909/Mancandy_2024春夏_墨西哥_风衣_-_-20231019094115419628_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1909/Mancandy_2024春夏_墨西哥_-_-20231019094116674984_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1909/Mancandy_2024春夏_墨西哥_短裤_-_-20231019094116309504_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
						</a>
					</div>
					<p class="text-xl text-right pt-4">
						2024春夏墨西哥(Mancandy)男女装发布会
					</p>
				</div>
				<div class="data-list hidden">
					<div class="">
						<a
							href="/detail/listDetail?channel=20850&subject_id=0&folder_id=152153&mode=2&data_type=1&p=1"
							target="_blank"
							class="img-list flex"
						>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1910/Oscar_de_la_Renta_2024_25秋冬_纽约_皮裙_-_-20231019100722995643_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1910/Oscar_de_la_Renta_2024_25秋冬_纽约_-_-20231019100722464282_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1910/Oscar_de_la_Renta_2024_25秋冬_纽约_婚纱_-_-20231019100722554316_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
						</a>
					</div>
					<p class="data-title" style="color:#1f1f1f;">
						2024/25秋冬纽约(Oscar de la Renta)婚纱礼服发布会
					</p>
				</div>
			</div>
		</div>
		<div class="box-right">
			<div class="text-list flex items-center flex-col my-10">
				{
					tStageBrand.map((data) => (
						<div class="text-item pt-10">
							<div class="text-box">
								<a
									href="/"
									target="_blank"
									class="font-bold text-5xl flex"
								>
										<span class="text-slate-500">{data}</span>
										<Icon name="ion:chevron-right" class="w-10 hidden pl-1"/>
								</a>
							</div>
						</div>
					))
				}
			</div>
		</div>
	</div>
	<div class="block">
		<div class="inner">
			<div class="c-heading c-heading--small">
				<div class="c-heading__top">
					<h4>TOP PICKS FOR YOU</h4>
				</div>
				<div class="c-heading__middle">
					<div class="c-heading__between">
						<h3 class="font-bold text-6xl">
							热门品牌
						</h3>
						<h3 class="font-bold text-4xl">
							专业趋势团队精选款
						</h3>
						<div class="text-right">
							Don't miss the <strong>latest</strong> happenings on


							<strong>awwwards</strong>.
						</div>
					</div>
				</div>
			</div>
			<div class="l-list-sites pt-14">
				{
					hotBrand.map((data) => (
						<button>{data.name}</button>
					))
				}
				  <div class="swiper mySwiper">
					<div class="swiper-wrapper">
					  <div class="swiper-slide">Slide 1</div>
					  <div class="swiper-slide">Slide 2</div>
					  <div class="swiper-slide">Slide 3</div>
					  <div class="swiper-slide">Slide 4</div>
					  <div class="swiper-slide">Slide 5</div>
					  <div class="swiper-slide">Slide 6</div>
					  <div class="swiper-slide">Slide 7</div>
					  <div class="swiper-slide">Slide 8</div>
					  <div class="swiper-slide">Slide 9</div>
					</div>
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-pagination"></div>
					<div class="autoplay-progress">
					  <svg viewBox="0 0 48 48">
						<circle cx="24" cy="24" r="20"></circle>
					  </svg>
					  <span></span>
					</div>
				  </div>
			</div>
			<div class="l-list-sites__col">
				热门推荐
			</div>
		</div>
	</div>
	<div
		data-w-id="bb928bf3-04e0-6e31-a1a0-7150d683dd1c"
		class="section income-earned-section"
	>
		<div class="container">
			<div class="earned-income-intro p-10 text-center">
				<h3 class="earned-income-number">
					$<span id="payout-usd" class="counter">2，973，102</span>
				</h3>
				<div class="text-lg">条素材及文章供您查阅</div>
			</div>
		</div>
	</div>
	<script>
	import Swiper from 'swiper/bundle';
	import 'swiper/css/bundle';
		const progressCircle = document.querySelector(".autoplay-progress svg");
    const progressContent = document.querySelector(".autoplay-progress span");
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      },
      on: {
        autoplayTimeLeft(s, time, progress) {
          progressCircle.style.setProperty("--progress", 1 - progress);
          progressContent.textContent = `${Math.ceil(time / 1000)}s`;
        }
      }
    });
	</script>
</MainLayout>
