---
import BaseHead from "../components/BaseHead.astro";
// import Header from '../components/Header.astro';
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
export const prerender = false;
import Header from "../components/common/Header.vue";
import Header1 from "../components/common/Header.astro";
import MainLayout from "../layouts/main.astro";
import "../styles/main.css";
import "../styles/global.css";
// const post = await fetch("http://127.0.0.1:8000/api/v1/header/menus")
// const {data} = await post.json()
// console.log(data)
---

<style>
	.grid-halves {
		width: 100%;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		border-bottom: 2px solid #000;
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr;
		grid-auto-columns: 1fr;
		display: grid;
	}

	.earned-income-number {
		font-size: 11.25rem;
	}

	.text-lg {
		letter-spacing: -0.01em;
		font-size: 2rem;
		line-height: 1.25;
	}

	.selection-box {
		grid-template-columns: 3fr 1.5fr;
	}

	.show-wrap .box-left {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -moz-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* padding-left:12.61167%; */
}

.show-wrap .box-left .show-img {
    width: 100%;
    padding-top: 50%;
    position: relative;
}

.show-wrap .box-left .data-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease
}
.text-item {
	height: 10rem;
}

.show-wrap .box-left .show-title {
    position: absolute;
    top: 32px;
    left: 32px
}
</style>
<MainLayout>
	<div class="selection-box show-wrap grid" style="background-color:#34AD60;">
		<div class="box-left flex">
			<div class="show-title">
				<div class="main-title">
					<img src="/public/img/runway_gallery.e0850e4d.png" alt="" />
				</div>
				<div class="sub-title">当下秀场</div>
			</div>
			<div class="show-img">
				<div class="data-list">
					<div class="" style="height:0px;position:relative;padding-top:50%;">
						<a
							href="/detail/listDetail?channel=20850&subject_id=0&folder_id=152151&mode=2&data_type=1&p=1"
							target="_blank"
							class="img-list flex"
							style="height: 100%;
							width: 100%;
							position: absolute;
							top: 0px;
							left: 0px;"
						>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1909/Mancandy_2024春夏_墨西哥_风衣_-_-20231019094115419628_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1909/Mancandy_2024春夏_墨西哥_-_-20231019094116674984_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1909/Mancandy_2024春夏_墨西哥_短裤_-_-20231019094116309504_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
						</a>
					</div>
					<p class="data-title" style="color:#1f1f1f;">
						2024春夏墨西哥(Mancandy)男女装发布会
					</p>
				</div>
				<div class="data-list hidden">
					<div class="">
						<a
							href="/detail/listDetail?channel=20850&subject_id=0&folder_id=152153&mode=2&data_type=1&p=1"
							target="_blank"
							class="img-list flex"
						>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1910/Oscar_de_la_Renta_2024_25秋冬_纽约_皮裙_-_-20231019100722995643_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1910/Oscar_de_la_Renta_2024_25秋冬_纽约_-_-20231019100722464282_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1910/Oscar_de_la_Renta_2024_25秋冬_纽约_婚纱_-_-20231019100722554316_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
						</a>
					</div>
					<p class="data-title" style="color:#1f1f1f;">
						2024/25秋冬纽约(Oscar de la Renta)婚纱礼服发布会
					</p>
				</div>
			</div>
		</div>
		<div class="box-right">
			<div class="text-list">
				<div class="text-item">
					<div class="text-box">
						<a
							href="/detail/listDetail?channel=20850&subject_id=0&folder_id=152151&mode=2&data_type=1&p=1"
							target="_blank"
							class="">Mancandy</a
						>
					</div>
				</div><div class="text-item">
					<div class="text-box">
						<a
							href="/detail/listDetail?channel=20850&subject_id=0&folder_id=152157&mode=2&data_type=1&p=1"
							target="_blank"
							class="">Valentino</a
						>
					</div>
				</div>
				<div class="text-item">
					<div class="text-box">
						<a
							href="/detail/listDetail?channel=20850&subject_id=0&folder_id=152023&mode=2&data_type=1&p=1"
							target="_blank"
							class="">Todd Snyder</a
						>
					</div>
				</div>
				<div class="text-item">
					<div class="text-box">
						<a
							href="/detail/listDetail?channel=20850&subject_id=0&folder_id=152023&mode=2&data_type=1&p=1"
							target="_blank"
							class="">Todd Snyder</a
						>
					</div>
				</div>
				<div class="text-item">
					<div class="text-box">
						<a
							href="/detail/listDetail?channel=20850&subject_id=0&folder_id=152023&mode=2&data_type=1&p=1"
							target="_blank"
							class="">Todd Snyder</a
						>
					</div>
				</div>
				<div class="text-item">
					<div class="text-box">
						<a
							href="/detail/listDetail?channel=20850&subject_id=0&folder_id=152023&mode=2&data_type=1&p=1"
							target="_blank"
							class="">Todd Snyder</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-halves">
		<div class="bg-teal border-right no-overflow">
			<img
				src="https://assets-global.website-files.com/6171b265e5c8aa59b42c3472/619532e016b9ee57c1b529e6_home-feature-1.svg"
				loading="lazy"
				alt=""
				class="callout-image sell-anything"
			/>
		</div><div>
			<div class="column-padding">
				<div class="content-grid">
					<h3 class="text-2xl">色彩分析</h3><div class="text-md">
						Video lessons. Monthly subscriptions. Physical products.
						Whatever! Gumroad was created to help you experiment
						with all kinds of ideas and formats.
					</div><ul role="list" class="list-grid">
						<li class="arrow-list-item">
							Sell your Top 10 lists
						</li><li class="arrow-list-item">
							Sell your crypto tips
						</li><li class="arrow-list-item">
							Sell your fractal pack
						</li><li class="arrow-list-item">
							Sell your keto cookbook
						</li><li class="arrow-list-item">
							Sell your C4D scenes
						</li><li class="arrow-list-item">
							Sell your new emojis
						</li><li class="arrow-list-item">
							Seriously, sell anything!
						</li><li class="arrow-list-item"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="page8">
        <div class="content_wrapper_rem">
          <div class="tab_box flex justify-between" js-common-tab="">
            <div class="tab_title_warp">
              <div class="title_box">
                <div class="tit">四大时装周</div>
                <div class="tit_en">FOUR FASHION WEEKS</div>
              </div>
              <div class="tab_title js_page8_tab_title">
                <div class="" tab-nav="" data-weekname="PARIS" cursorshover="true">
                  <span class="tit">巴黎时装周</span>
                  <span>PARIS FASHION WEEK</span>
                  <i class="home_icon"></i>
                </div>
                <div tab-nav="" data-weekname="LONDON" cursorshover="true" class="on">
                  <span class="tit" cursorshover="true">伦敦时装周</span>
                  <span cursorshover="true">LONDON FASHION WEEK</span>
                  <i class="home_icon"></i>
                </div>
                <div tab-nav="" data-weekname="NEWYORK" cursorshover="true">
                  <span class="tit">纽约时装周</span>
                  <span>NEWYORK FASHION WEEK</span>
                  <i class="home_icon"></i>
                </div>
                <div tab-nav="" data-weekname="MILAN">
                  <span class="tit">米兰时装周</span>
                  <span>MILAN FASHION WEEK</span>
                  <i class="home_icon"></i>
                </div>
              </div>
            </div>
            <div class="tab_content_box_warp">
              <div class="info whitespace-nowrap flex">
                <span><i class="home_icon"></i>汇聚全球30多个国家和地区</span>
                <span><i class="home_icon"></i>3000多个品牌和设计师</span>
                <span><i class="home_icon"></i>7*24H实时更新</span>
                <span><i class="home_icon"></i>高清、细节、视频及数字发布</span>
              </div>
              <div class="tab_content_box flex-1" tab-content-group="">
                <div class="mask_label js_page8_weekname" font-family="en-bold">LONDON</div>
                <div class="mask_label diff" font-family="en-bold">FASHION WEEK</div>
                <div class="tab_content flex flex-wrap js_page8_itembox" tab-content=""><a class="item" href="/runways/typ_ttshowpic-bra_172381-reg_272/" target="_blank">
              <div class="item_content" js_follow_item="">
                <div class="cover">
                  <img src="https://imgf1.pop-fashion.com/fashion/presscon/20230929010SZ7085/focus/women/middle/Givenchy_001_SZ7085.jpg" alt="">
                </div>
                <div class="label">2024春夏</div>
              </div>
              <div class="title">Givenchy</div>
            </a><a class="item" href="/runways/typ_ttshowpic-bra_118795-reg_272/" target="_blank">
              <div class="item_content" js_follow_item="">
                <div class="cover">
                  <img src="https://imgf1.pop-fashion.com/fashion/presscon/20230929001SZ7085/focus/man/middle/IsabelMarant_001_SZ7085.jpg" alt="">
                </div>
                <div class="label">2024春夏</div>
              </div>
              <div class="title">Isabel Marant</div>
            </a><a class="item" href="/runways/typ_ttshowpic-bra_135757-reg_272/" target="_blank">
              <div class="item_content" js_follow_item="">
                <div class="cover">
                  <img src="https://imgf1.pop-fashion.com/fashion/presscon/20231003011SZ7085/focus/women/middle/LouisVuitton_001_SZ7085.jpg" alt="">
                </div>
                <div class="label">2024春夏</div>
              </div>
              <div class="title">Louis Vuitton</div>
            </a><a class="item" href="/runways/typ_ttshowpic-bra_49673-reg_272/" target="_blank">
              <div class="item_content" js_follow_item="">
                <div class="cover">
                  <img src="https://imgf1.pop-fashion.com/fashion/presscon/20231001009SZ7085/focus/women/middle/Hermes_001_SZ7085.jpg" alt="">
                </div>
                <div class="label">2024春夏</div>
              </div>
              <div class="title">Hermes</div>
            </a><a class="item" href="/runways/typ_ttshowpic-bra_185589-reg_272/" target="_blank">
              <div class="item_content" js_follow_item="">
                <div class="cover">
                  <img src="https://imgf1.pop-fashion.com/fashion/presscon/20230928010SZ7085/focus/women/middle/AcneStudios_001_SZ7085.jpg" alt="">
                </div>
                <div class="label">2024春夏</div>
              </div>
              <div class="title">Acne Studios</div>
            </a><a class="item" href="/runways/typ_ttshowpic-bra_141891-reg_272/" target="_blank">
              <div class="item_content" js_follow_item="">
                <div class="cover">
                  <img src="https://imgf1.pop-fashion.com/fashion/presscon/20230624108SZ6910/focus/women/middle/KENZO_01_SZ6910.jpg" alt="">
                </div>
                <div class="label">2024春夏</div>
              </div>
              <div class="title">KENZO</div>
            </a><a class="item" href="/runways/typ_ttshowpic-bra_174813-reg_272/" target="_blank">
              <div class="item_content" js_follow_item="">
                <div class="cover">
                  <img src="https://imgf1.pop-fashion.com/fashion/presscon/20230930007SZ7085/focus/women/middle/YohjiYamamoto_001_SZ7085.jpg" alt="">
                </div>
                <div class="label">2024春夏</div>
              </div>
              <div class="title">Yohji Yamamoto</div>
            </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
	<div
		data-w-id="bb928bf3-04e0-6e31-a1a0-7150d683dd1c"
		class="section income-earned-section"
	>
		<div class="container">
			<div class="earned-income-intro p-10 text-center">
				<h3 class="earned-income-number">
					$<span id="payout-usd" class="counter">2，973，102</span>
				</h3>
				<div class="text-lg">条素材及文章供您查阅</div>
			</div>
		</div>
	</div>
</MainLayout>
