---
const mainMenus = ["T台", "街拍", "成衣", "品牌", "花纹", "AI", "色彩"];
---

<style>
    .inner {
        margin: auto;
        max-width: 1536px;
    }

</style>
<header class="wtn">
    <div class="top-wrapper bg-slate-950 text-white py-2">
        <div class="inner flex justify-end items-center">
            <div class="aside">
                <div class="nav">
                    <a href="/secured/mypage/myPage">마이페이지</a>
                    <a href="javascript:searchKeywordLogin();">로그인</a>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-wrapper border-b border-slate-800 w-full">
        <div class="top py-4">
            <div class="inner flex justify-between items-center">
                <h1 class="ssf-logo">
                    <a href="/main">
                        <img
                            src="/logo.svg"
                            loading="lazy"
                            alt=""
                            class="mega-gum-logo w-full"
                        />
                    </a>
                </h1>
                <div class="aside flex items-center">
                    <div class="util flex"></div>
                    <div class="flex font-bold">
                        <a
                            href="/login"
                        >
                            登录
                        </a>
                        <a
                            href="/beaker/main?brandShopNo=BDMA09&brndShopId=MCBR&gnb=true"
                        >
                            常见问题
                        </a>
                        <a
                            href="/ANOTHER-SHOP/main?brandShopNo=BDMA19&brndShopId=ORBR&gnb=true"
                        >
                            消息中心
                        </a>
                        <a
                            href="/ANOTHER-SHOP/main?brandShopNo=BDMA19&brndShopId=ORBR&gnb=true"
                        >
                            语言
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-t border-slate-800">
            <div class="inner flex justify-start">
                <div class="category flex justify-start">
                    <div class="main-nav">
                        <ul class="flex">
                            {
                                mainMenus.map((d) => (
                                    <li class="py-4 px-2">
                                        <a href="/main/THMA38A07?dspCtgryNo=SFMA41" class="">
                                            { d }
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                    <div class="sub-nav border-l border-slate-800">
                        <ul class="flex items-center">
                            <li class="py-4 px-2">
                                <a href="/ranking?rankSect=CLICK_RANK&ctgryFlterCd=CTGRY_FEMALE&preferAgeCd=ALL&brndShopId=&dspCtgryNo=">랭킹</a>
                            </li>
                            <li class="py-4 px-2"><a href="/selectAllBrandList">브랜드</a></li>
                            <li class="py-4 px-2"><a href="/ssfMgz/list">매거진</a></li>
                            <li class="py-4 px-2">
                                <a href="/special/list?promtFlterBrndId=">기획전</a>
                            </li>
                            <li class="py-4 px-2"><a href="/event/list">이벤트</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
