---
import { Icon } from "astro-icon";
const mainMenus = ["T台", "街拍", "成衣", "品牌", "花纹", "AI", "色彩"];
const nav = ["为您呈现", "发现", "聘请", "资源", "职位"];
---

<style>
    .main-nav {
        height: 55px;
    }
</style>
<nav>
    <div class="main-nav flex">
        <ul class="flex h-full items-center mr-auto">
            {
                nav.map((item) => (
                    <li class="m-4">
                        <a href="/for_you/onboarding?tracking_source=nav20">
                            <span class="font-semibold">{item}</span>
                        </a>
                    </li>
                ))
            }
        </ul>
        <div class="sign-wrapper flex">
            <ul class="PrimaryNav-loggedOutOptions-ZwH flex items-center">
                <li class="PrimaryNav-loggedOutOption-OP6 PrimaryNav-logIn-td1">
                    <button class="btn-dark px-3 py-2  lg:px-4 text-sm rounded-full transition hover:bg-slate-800 border border-slate-900 font-medium mr-2">登录</button>
                </li>
                <li class="PrimaryNav-loggedOutOption-OP6">
                    <button class="btn-light px-3 py-2  lg:px-4 bg-slate-900  text-white text-sm  rounded-full transition hover:bg-slate-800 border border-slate-900 font-mediummr-2">注册</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
